<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <%= javascript_include_tag('application') %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/modal-475_10thAve' %>
    <%= render 'shared/modal-EFL' %>
    <%= render 'shared/modal-Insta' %>
    <%= render 'shared/modal-PAS' %>
    <%= render 'shared/modal-PASyn' %>
    <%= render 'shared/modal-Pier57' %>
    <%= render 'shared/modal-Whim' %>
    <%= render 'shared/modal-41W76' %>
    <%= render 'shared/navbar' %>
    <header class="example-header">
      <h1 class="text-center">Dorothy Kamilah Brown</h1>
    </header>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/footer' %>
  </body>
</html>
