<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dorothy Brown's Portfolio</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561412784/DBLogo_g04m29.png">
    <%= javascript_include_tag('application') %>
    <%= javascript_include_tag('home') %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render 'shared/modal-475_10thAve' %>
    <%= render 'shared/modal-EFL' %>
    <%= render 'shared/modal-Insta' %>
    <%= render 'shared/modal-PAS' %>
    <%= render 'shared/modal-PASyn' %>
    <%= render 'shared/modal-Pier57' %>
    <%= render 'shared/modal-Whim' %>
    <%= render 'shared/modal-41W76' %>
    <%= render 'shared/modal-Freiheit' %>
    <%= render 'shared/modal-Imaginary' %>
    <%= render 'shared/modal-Advertio' %>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= render 'shared/footer' %>
  </body>
</html>
